%h1 Business Model
#bmc
  - @blocs.each do |bloc|
    - case bloc.code
      - when 'PC',  'PV',  'SC',  'CE',  'RE'
        != "<div id='#{bloc.code}' class='left bloc #{bloc.type}'>"
        .title.left #{bloc.name}
        = button_to "+", action: "new"
      - when 'AC', 'RC'
        != "<div class='left bloc_cont haut'>"
        != "<div id='#{bloc.code}' class='bloc #{bloc.type}'>"
        .title.left #{bloc.name}
        = button_to "+", action: "new"
      - when 'RES',  'CX'
        != "<div id='#{bloc.code}' class='bloc #{bloc.type}'>"
        .title.left #{bloc.name}
        = button_to "+", action: "new"
        != "</div>"
    != "</div>"
    - if bloc.code == 'SC' || bloc.code == 'RE'
      .clear
