:javascript
  $(document).ready(function() {
    $('.button_to_add_post').qtip({
      id: 'modal',
      content: {
        text: $('#modal_cont'),
        title: {
          text: 'Ajouter un Post-It',
          button: true
        }
      },
      position: {
        my: 'center',
        at: 'center',
        target: $(document.body)
      },
      show: {
        event: 'click',
        solo: true,
        modal: true
      },
      hide: false,
      style: 'ui-tooltip-light ui-tooltip-rounded',
      //events: {
        //render: function(event, api) {
          //$('input[name=commit]', api.elements.content).click(api.hide);
        //},
        //hide: function(event, api) { api.destroy(); }
      //}
    });
    $('.content').jScrollPane();
  });
%h1 Business Model
#bmc
  - @blocs.each do |bloc|
    - case bloc.code
      - when 'PC', 'PV', 'SC', 'CE', 'RE'
        = render partial: 'bloc_content', locals: { bloc: bloc, left: 'left' }
      - when 'AC', 'RC'
        != "<div class='left bloc_cont haut'>"
        = render partial: 'bloc_content', locals: { bloc: bloc, left: '' }
      - when 'RES', 'CX'
        = render partial: 'bloc_content', locals: { bloc: bloc, left: '' }
        != "</div>"
    != "</div>"
    - if bloc.code == 'SC' || bloc.code == 'RE'
      .clear
#modal_cont.display_none
  = render 'posts/form'
